<ion-view view-title="About">
  <ion-content class="background-img">
    <div class="card">
    <div class="item item-divider">
     About Muhala
    </div>
    <div class="item item-text-wrap">
    <P>
    <h2>Two roads diverged in a yellow wood</h1>
		And sorry I could not travel both
		And be one traveler, long I stood
		And looked down one as far as I could
		To where it bent in the undergrowth;
   </P>
  </div>
  <button class="button button-block button-calm">
    about developer
</button>
</div>
  </ion-content>
</ion-view>
