<ion-view view-title="browse" class="bubble-background">
    <ion-content class="background-img">
    <div class="login-page">
        <h2 class="textwhite">Search</h2>
        <div class="trans" class=" card transparent">
            <label class="item item-input item-floating-label">
                <span class="input-label textwhite">First Name</span>
                <input type="text" class="textwhite" placeholder="First Name"/>
            </label>
            <label class="item item-input item-floating-label ">
                <span class="input-label textwhite">Sir Name</span>
                <input type="password" class="textwhite" placeholder="Sir Name"/>
            </label>
        </div> 
        <div class="padding">
            <button class="button button-royal icon ion-ios-checkmark-outline" type="submit">
                Enter
            </button>
            <button class="button button-royal icon ion-person-add" type="submit">
                Add
            </button>
            <button class="button button-royal icon ion-ios-close-outline" type="submit">
                Remove
            </button>
            
            
        </div>
    </div>
    </ion-content>
</ion-view>
