<ion-view view-title="Add New Member">
    <ion-content>
        <form action="">
            <div class="list ">
                <label for="" class="item-input-wrapper">
                    <input class="input-black-text" type="text" placeholder="Tajneed Number">
                </label>
                <label for="" class="item-input-wrapper">
                    <input class="input-black-text" type="text" placeholder="FullName" type="text">
                </label>
                <label for="" class="item-input-wrapper">
                    <input type="text" class="input-text-black" placeholder="Father's Name">
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>