<ion-view view-title="Pehra Duty Timing">
    <ion-content class="background-img">
     <div class="card">
     <div class="item item-divider">
       Days Name
     </div>
      <div class="item item-text-wrap">
       <div class="list">
        <a class="item item-avatar" href="#">
         <img src="img\download.jpg">
         <h2>Girl</h2>
         <p>033#########</p>
        </a>
        <a class="item item-avatar" href="#">
         <img src="img\download.jpg">
         <h2>Girl</h2>
         <p>033#########</p>
        </a>
        <a class="item item-avatar" href="#">
         <img src="img\download.jpg">
         <h2>Girl</h2>
         <p>033#########</p>
        </a>
        <a class="item item-avatar" href="#">
         <img src="img\download.jpg">
         <h2>Girl</h2>
         <p>033#########</p>
        </a>
       </div>
      </div>
    </div>
</ion-content>
</ion-view>
