<ion-view view-title="SignIn" class="bubble-background">
  <ion-content>
    <div class="card">
        <div class="item item-divider">
            Confirm your identity
        </div>
        <div class="item item-text-wrap">
            <div class="list">
        <label class="item item-input item-floating-label">
            <span class="input-label">Username</span>
            <input type="text" placeholder="Username"/>
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Security Code</span>
            <input type="password" placeholder="Security Code"/>
        </label>
        <button class="button  button-dark ion-home icon-right button-block" type="submit">
            SignIn
        </button>
        
    </div>
        </div>
        <div class="item card">
            <p class="subdued">Forgot Password? Contact your Zaeem Muhala</p>
        </div>
    </div>
  </ion-content>
</ion-view>
