<ion-view view-title="SignIn" class="bubble-background">
    <ion-content class="background-img">
    <div class="login-page">
        <img src="img/mkalogo2.png" class="logo-image" alt="">
        <h2 class="textwhite">Welcome</h2>
        <div class="card transparent">
            <label class="item item-input item-floating-label">
                <span class="input-label textwhite">Username</span>
                <i class=" icon ion-android-contacts"></i>
                <input type="text" class="textwhite" placeholder="Username"/>
            </label>
            <label class="item item-input item-floating-label ">
            
                <span class="input-label textwhite" >Security Code</span>
                <i class=" icon ion-android-contacts"></i>
                <input type="password" class="textwhite" placeholder="Security Code"/>
            </label>
        </div>
        <div class="padding">
            <button class="button  button-dark button-block margin-right-left" type="submit">
                Sign In
            </button>
            <a href="">Forgot Password?</a>
        </div>
    </div>
    </ion-content>
</ion-view>
