<ion-view view-title="SignIn" class="bubble-background">
    <ion-content class="login-page-wrapper">
    <div class="login-page">
        <div class="card">
            <label class="item item-input item-floating-label">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username"/>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Security Code</span>
                <input type="password" placeholder="Security Code"/>
            </label>
        </div>
        <div class="padding">
            <button class="button  button-dark button-block margin-right-left" type="submit">
                SignIn
            </button>
            <a href="">Forgot Password? Contact your Zaeem Muhala</a>
        </div>
    </div>
    </ion-content>
</ion-view>
