/* Empty. Add your own CSS if you like */
.login-page-wrapper {
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxyUbC0IbKYb0U6Tf4EcpFrbClhmAlnKmwHUNJnZQwuVHxhwQ51w);
	background-repeat: none;
	background-size: cover;
}
.login-page {
	

}
a{
    color: white;
}
a:hover{
    color: yellowgreen;
}
.transparent{
    background-color: transparent;
    box-shadow: 0 8px 5px 5px  #3b864e;
    
}
.textwhite{
    color: white!important;
}
input {
    color: white!important;
}
.logo-image{
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
}